* {
  background: tomato;
  color: white;
  font-family: Arial;
  font-size: 1.25em;
}

ul {
  list-style-type: none;
}

button {
  background: white;
  color: black;
}

li {
  font-size: .95em;
  margin-top: .25em;
}